repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  # - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: debug-statements
  - id: detect-private-key
  - id: double-quote-string-fixer
  - id: requirements-txt-fixer
  - id: fix-encoding-pragma
    args:
    - --remove
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0  # pick a git hash / tag to point to
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v2.0.1  # Use the sha / tag you want to point at
  hooks:
  -   id: autopep8
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
